* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  background-color: #ecf2f8;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

article {
  background-color: #fff;
  width: 100%;
  max-width: 20.438rem;
  border-radius: 0.625em;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* TYPOGRAPHY */

h1 {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.25%;
  margin-bottom: 1rem;
}

h1,
.author {
  color: #48556a;
}

.desc,
.author,
.date {
  margin: 0;
  font-size: 0.813rem;
  line-height: 140%;
  letter-spacing: 0.12%;
}

.desc {
  font-size: 0.844rem;
  line-height: 150%;
  color: #6e8098;
}

.desc,
.date {
  font-weight: 500;
}

.author {
  font-weight: 700;
}

.date {
  color: #9daec2;
}

/* IMAGES */

.drawers {
  width: 100%;
  max-width: 327px;
  height: 200px;
  object-fit: cover;
  object-position: center 30%;
  border-top-left-radius: 0.625em;
  border-top-right-radius: 0.625em;
}

.author-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* LAYOUT */

.content {
  padding: 0 1.875rem 1.125rem 1.875rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-date {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.share-btn {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
}

.share-toast-mobile {
  width: 20.438rem;
  height: 4.75rem;
  position: absolute;
  left: -30px;
  padding: 1rem 2rem;
  border-bottom-left-radius: 0.625em;
  border-bottom-right-radius: 0.625em;
  background-color: #48556a;
}

.share-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.share {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.share p {
  font-size: 0.813rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 25%;
  text-transform: uppercase;
  color: #9daec2;
}

.share-options {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.share-options button {
  border: none;
  background-color: unset;
  padding: 0;
}

.dark-share-btn {
  background: #6e8098;
}

/* MEDIA QUERIES */

/* TABLET */

@media only screen and (min-width: 768px) {
  /* TYPOGRAPHY */

  h1 {
    font-size: 1.3rem;
    line-height: 130%;
    margin-bottom: 1.5rem;
  }

  .desc {
    font-size: 0.813rem;
    line-height: 140%;
  }

  /* IMAGES */

  .drawers {
    max-width: 229px;
    height: 100%;
    object-position: 5%;
    border-top-left-radius: 0.625em;
    border-top-right-radius: unset;
    border-bottom-left-radius: 0.625em;
  }

  /* LAYOUT */

  article {
    max-width: 38rem;
    flex-direction: row;
  }

  .content {
    width: 100%;
    max-width: 19.438rem;
    padding: 2.563rem 0;
    gap: 1.5rem;
  }
}

/* DESKTOP */

@media only screen and (min-width: 1440px) {
  /* IMAGES */

  .drawers {
    max-width: 285px;
  }

  /* LAYOUT */

  article {
    max-width: 45.625rem;
    gap: 2.5rem;
  }

  .content {
    max-width: 22.813rem;
    padding: 1.875rem 0;
  }
}

/* .attribution {
  font-size: 0.6875rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
